################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FireFightLibrary/.vs
/FireFightLibrary/bin/Debug/net8.0
/FireFightLibrary/obj
/FireFightLibraryUnitTests/bin/Debug/net8.0
/FireFightLibraryUnitTests/obj
/FirefightUnitTests/bin/Debug/net8.0
/FirefightUnitTests/obj
/FireFightLibrary/bin/Release/net8.0
/FirefightUnitTests/bin/Release/net8.0
